<h1 style="font-size: 80px;" >Contact</h1>
<hr>
<div style="font-size: x-large">
        <p><i class="fas fa-mobile"> +1 (857) 891-9538</i></p>
        <p>
                <a href="mailto:soumitrmishra26@gmail.com">
                        <i class="fas fa-envelope"> </i>
                        <span style="font-weight: 500;">
                                soumitrmishra26@gmail.com
                        </span>
                </a>
                
        </p>
        <p>
                <a href="mailto:mishra.s@northeastern.edu">
                        <i class="fas fa-graduation-cap"></i>
                        <i class="fas fa-envelope"> </i>
                        <span style="font-weight: 500;">
                                mishra.s@northeastern.edu
                        </span>
                </a>
                
        </p>
         <p>
                <a href="https://www.facebook.com/soumitra.prince">
                        <i class="fab fa-facebook-f"> </i>
                        <span style="font-weight: 500;">
                                https://www.facebook.com/soumitra.prince
                        </span>
                </a>
                
        </p>
        <p>
                <a href="https://www.instagram.com/soumitra.mishra/">
                        <i style="font-weight:bolder" class="fab fa-instagram"></i>
                        <span style="font-weight: 500;">
                                https://www.instagram.com/soumitra.mishra
                        </span>
                </a>    
        </p>
</div>

