<h1 style="font-size: 80px;" >Contact</h1>
<hr>
<div style="font-size: x-large">
        <p align="right">
                <a class="btn btn-primary" align="right" href="assets/Soumitra_Mishra-Resume.pdf" target="blank"> 
                        <i class="fas fa-download"></i>
                        Download resume
                </a>
        </p>
        <p>
                <a href="https://wa.me/+18578919538" target="blank">
                        <i class="fab fa-whatsapp"></i>
                        <span style="font-weight: 500;">
                                +1 (857) 891-9538
                        </span>
                </a>
                
        </p>
        <p>
                <a href="mailto:soumitramishra26@gmail.com" target="blank">
                        <i class="fas fa-envelope"> </i>
                        <span style="font-weight: 500;">
                                soumitramishra26@gmail.com
                        </span>
                </a>
                
        </p>
        <p>
                <a href="mailto:mishra.s@northeastern.edu" target="blank">
                        <i class="fas fa-graduation-cap"></i>
                        <i class="fas fa-envelope"> </i>
                        <span style="font-weight: 500;">
                                mishra.s@northeastern.edu
                        </span>
                </a>
                
        </p>
         <p>
                <a href="https://www.facebook.com/soumitra.prince" target="blank">
                        <i class="fab fa-facebook-f"> </i>
                        <span style="font-weight: 500;">
                                https://www.facebook.com/soumitra.prince
                        </span>
                </a>
                
        </p>
        <p>
                <a href="https://www.instagram.com/soumitra.mishra/" target="blank">
                        <i style="font-weight:bolder" class="fab fa-instagram"></i>
                        <span style="font-weight: 500;">
                                https://www.instagram.com/soumitra.mishra
                        </span>
                </a>    
        </p>
        <p>
                <a href="https://www.linkedin.com/in/mishra-soumitra" target="blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span style="font-weight: 500;">
                                https://www.linkedin.com/in/mishra-soumitra
                        </span>
                </a>    
        </p>
</div>

