<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Soumitra Mishra</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="router-link-active" >
          About
          </a>
        </li>
        <li>
        <a [routerLink]="['/projects']" routerLinkActive="router-link-active" >
          Projects
        </a>
      </li>
        <li><a
          [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
      </ul>
    </div>
  </nav>