<div class="container" align="center">
    <br>
    <h1 style="font-size: 80px;" >Greetings,<br> My name is Soumitra Mishra<span class="blinking-cursor">|</span></h1>
    <h2>Software Engineer and Technology Enthusiast</h2>
    <br>
    <hr>
    
    <br>
    <p style="font-size:larger;">
        I am 27 year old Software Enthusiast who has been exploring Computer System for more than 2 decades now. <br>
        From flow of electrons via semiconductors to bits and bytes, from Punch Cards to Disc to Solid State Drive,<br>
        from wired ethernet connections to high speed optical fibre, from 8 bit Dave to Counter Strike to Player Unknown's Battleground,<br>
        from mere high speed accurate computation to IOT to Artificial Intelligence, computing has come a long way, so have I.
    </p>
    <p style="font-size: larger;">
        Check 
            <a [routerLink]="['/about']" routerLinkActive="router-link-active" >
            About
            </a>
        to explore my story...
    </p>
</div>

