<h1 style="font-size: 80px;">Projects</h1>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project Name</th>
          <th scope="col">Languages/Technology</th>
          <th scope="col">Description</th>
          <th scope="col">Link(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td align="center">Medician
            <embed width="140" height="80" src="https://www.youtube.com/embed/C_fV4mqeHKk">
          </td>
          <td>
            Android, Java
          </td>
          <td>
            A one-stop portal for all your medical needs that include:
            <dl class="row">
              <dt class="col-sm-3">Connecting with your physician</dt>
              <dd class="col-sm-9">The user can search and book appointments with the nearby doctors available based on the category of medical issues they are facing.</dd>
              <dt class="col-sm-3 text-truncate">Digital Prescription & Reports</dt>
              <dd class="col-sm-9">Scared of losing the paper-based prescription and medical reports. MediBuddy enables the Doctor as well as the patient to maintain the digital copy which remains in the app.</dd>
              <dt class="col-sm-3">Medicine & Appointment Reminders</dt>
              <dd class="col-sm-9">MediBuddy allows users to set appointments reminders. Moreover, patients can set medicine reminders.</dd>
            </dl>

          </td>
          
          <td style="font-size: x-large;">
            <a href="https://github.ccs.neu.edu/am3y/Medician" target="blank">
              <i class="fab fa-github"></i><br>
            </a>
            <a href="https://play.google.com/apps/internaltest/4699844549135371395" target="blank">
              <i class="fab fa-google-play"></i>
            </a>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td align="center">This Website
          <img width="140" height="80" src="assets/images/my-website-screenshot.png">
          </td>
          <td>
            HTML,CSS, Angular, Bootstrap
          </td>
          <td>
            A portfolio highlighting my interests, education and experience:
            <dl class="row">
              <dt class="col-sm-3">Connecting with your physician</dt>
              <dd class="col-sm-9">The user can search and book appointments with the nearby doctors available based on the category of medical issues they are facing.</dd>
              <dt class="col-sm-3 text-truncate">Digital Prescription & Reports</dt>
              <dd class="col-sm-9">Scared of losing the paper-based prescription and medical reports. MediBuddy enables the Doctor as well as the patient to maintain the digital copy which remains in the app.</dd>
              <dt class="col-sm-3">Medicine & Appointment Reminders</dt>
              <dd class="col-sm-9">MediBuddy allows users to set appointments reminders. Moreover, patients can set medicine reminders.</dd>
            </dl>

          </td>
          
          <td style="font-size: x-large;">
            <a href="https://github.ccs.neu.edu/am3y/Medician" target="blank">
              <i class="fab fa-github"></i><br>
            </a>
            <a href="https://play.google.com/apps/internaltest/4699844549135371395" target="blank">
              <i class="fab fa-google-play"></i>
            </a>
        </tr>
        
    </tbody>
</table>
