<h1 style="font-size: 80px;" >About</h1>
<hr>
<h2>Summary</h2>
<p style="font-size:medium;">
    Hey, I am Soumitra Mishra, a software developer and Technology enthusiast. I am pursuing Masters degree in Computer Science from Northeastern University, Boston.<br>
    Not only do am I passionate about turning ideas to Software Solutions, but also fond of digging deep into  new software and hardware products to test their functionality and performance.
</p>

<h2>Where did all this began</h2>
<p style="font-size: medium;">
    It all began on June 21, 1948, Silicon met Intellect when Computer scientist Tom Kilburn coded the First software for their "Baby" machine, and the rest is history... <br>
</p>
<p style="font-size: medium;">
     Oh! I think I went too far in the past, fast forward to where my story begins...</p>
<p style="font-size: medium;">
    My interest in the Computer Science field has its root in the time when I first encountered a simple DOS
    based system when I was in 3rd grade. At that time, I knew only commands to switch between
    directories and start various eight bit games. The movement and control of these characters
    on screen galvanised my curiosity and engendered me to take Computer Science as the
    subject major.<br>
    As a student of 6 th grade I had started writing batch files to execute personally configured
    combined tasks in a single command or with a double click as well as developing hyperlinked
    web pages using HTML, CSS and FrontPage–the discontinued editor and website
    administration tool by Microsoft.
</p>
<p style="font-size: medium;">
    Gradually my passion became my profession when I joined Infosys Ltd as a System Engineer.
    Besides coding and debugging, I love presenting my ideas, POCs, projects and solutions in front of an audience.
</p>
